<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="crear.js"></script>
    <script type="module" src="asignarActivos.js"></script>
    <script type="module" src="retornarActivos.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- <crear-asignacion></crear-asignacion> -->
    <!-- <asignar-activos></asignar-activos> -->
    <retornar-activos></retornar-activos>
   






</body>

</html>